RewriteEngine on 

# Uncomment the following lines to force HTTPS
#RewriteCond %{HTTP:X-Forwarded-Proto} !https 
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

# add by midi
RewriteCond %{HTTP_HOST} ^(www\.midikang\.com)(:80)? [NC]
RewriteRule ^(.*) http://midikang.com/$1 [R=301,L]

# WordPress Defaults
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

